html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: linear-gradient(0deg, rgba(102,176,190,1) 0%, rgba(161,216,224,1) 50%, rgba(177,212,218,1) 100%);
  }
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}

.header {
  color: #197882;
  font-weight: 900;
  font-size: 3em;
}

.enter {
  margin-top: 2rem;
  padding-right: 9rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  padding-left: 1rem;
  font-size: 2em;
  background: white;
  color: black;
  border-radius: 20px;
  border: #197882 solid 3px;
}

.city {
  margin-top: 4rem;
  font-weight: 800;
  font-size: 4.5em;
  color: #197882;
}

.temp {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
  font-weight: 700;
  font-size: 3em;
  width: 400px;
  height: 200px;
  margin: 2rem;
  color: #c3efff;
  text-align: center;
background: rgba(107, 107, 107, 0.3);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(8px);
-webkit-backdrop-filter: blur(5px);
border: 1px solid rgba(255, 255, 255, 0.3);
}

.feels {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
  font-weight: 700;
  font-size: 3em;
  width: 300px;
  height: 200px;
  margin: 2rem;
  text-align: center;
  color: #c3efff;
  text-align: center;
  background: rgba(107, 107, 107, 0.3);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(8px);
-webkit-backdrop-filter: blur(5px);
border: 1px solid rgba(255, 255, 255, 0.3);
}

.wind {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
  font-weight: 700;
  font-size: 3em;
  width: 300px;
  height: 200px;
  margin: 2rem;
  text-align: center;
  color: #c3efff;
  text-align: center;
  background: rgba(107, 107, 107, 0.3);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(8px);
-webkit-backdrop-filter: blur(5px);
border: 1px solid rgba(255, 255, 255, 0.3);
}

.num {
  color: #ffffff;
}

.cont {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-top: 3rem;
}

body {
  background-image: url("/bg.jpg");
  background-size: cover;
  background-position: center;
}

@media (max-width: 390px) {
  .main {
    height: 100%;
  }
  
  .enter {
    width: 300px;
    padding: 1rem;
  }

  .temp {
    width: 350px;
  }
}